.container{
    width:300px;
    height:330px;
    border:2px solid black;
    margin:15px;
    display: flex-box;
    flex-direction: column;
    font-size: large;
    text-align: center;
    
    
}
.one{
    width:100%;
    height: 70px;
    background-color: rgb(234, 150, 255);
    align-content: center;
    display: inline-block;
}
.two{
    width:100%;
    height: 40px;
    background-color:rgb(158, 66, 245);
    color: white;
    align-content: center;
    display: inline-block;
}
.three{
    width: 100%;
    height:150px;
    align-content: center;
    display: inline-block;

}
.four{
    width: 100%;
    height:70px ;
    background-color: rgb(178, 156, 199);
    align-content: center;
    display: inline-block;
}

